<div class="business-info">
  <ul>
    <li><%= @business.name %></li>
    <li><%= @business.address %></li>
    <li><%= @business.summary %></li>
  </ul>
</div>

<div class="reviews">
  <%= link_to 'Add Review', new_business_review_path(@business) %>
</div>
