<h3>About Gender Friendly Adventures</h3>
<h4>The problem:</h4>
<p>
  A group of friends goes out for food. When they arrive at their chosen
  diner, the waitstaff refer to them as "ladies" and "gentelmen." The
  bathrooms require a key from behind the counter--a key with a gender written
  on it. It's incredibly uncomfortable.
</p>
<h4>Sound familiar?</h4>
<p>
  Too often a fun excursion turns sour from constant gender assumptions,
  misgendering, or the lack of a gender neutral bathroom. Knowing which
  restaurants are more sensitive to gender inclusion often requires word of
  mouth, which makes checking out new places risky.
</p>
<h4>Our Goal:</h4>
<p>
  Gender Friendly Adventures was designed to give you more information on the
  gender-related aspects of restaurants, coffee shops, bars, and other eateries,
  that isn't listed on existing review sites. We want to help you be more
  informed before you decide to go to a new restaurant, so you can support
  venues that are all-gender inclusive, and spare yourself some headaches.
</p>
