/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "variables";

$footer-height: 100px;

.wrapper {
  min-height: calc(100% - #{$footer-height});
}

footer {
  height: $footer-height;
  margin-top: 1em;
  text-align: center;
}

.footer {
  background-color: $secondary-color;
  font-size: 1.2rem;
  padding-top: 1.5rem;

  .links li {
    color: $color-secondary-2-1;
    display: inline-block;
    font-weight: bold;
    list-style: none;

    &::after {
      content: "★";
      padding: 0 0.4rem 0 0.8rem;
    }

    &:last-child::after {
      content: "";
    }
  }

  a {
    color: $white;
  }
}

.main-body {
  margin-top: 1rem;
}

.rating li {
  display: inline-block;
  max-width: 8rem;
  padding-right: 0.5rem;
  text-align: center;
}

.top-bar-section {
  input, .button {
    font-size: 0.7rem;
    line-height: 0.7rem;
    border-color: $primary-color;
  }

  .button {
    padding: 1px;
  }

  .transparent {
    background: transparent;
  }
}

ul {
  margin: 0;
}

.venues, .reviews {
  li {
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
  }
}

.categories li {
  display: inline-block;

  &::after {
    content: " |";
    color: $secondary-color;
  }

  &:last-child::after {
    content: "";
  }
}

.form label {
  display: inline;
}

.review-details {
  font-size: 90%;
  margin-left: 0.5rem;
}
